@import '~bourbon/app/assets/stylesheets/_bourbon.scss';

$green: #fd7e14;
$dark-green: shade($green, 25%);
$light-green: tint($green, 25%);
$gray: #d6d6d6;
$light-gray: tint($gray, 25%);
$tan: #cbcbcb;
$tan1: #eaeaea;
$red: #b3151a;
$blue: #3AB882;
$yellow: #f8ca00;
$black: #000;
$light-black: rgb(134, 153, 163);
$white: #fff;

$base-font-size: 16px;
$base-line-height: 24px;

@mixin box-shadow {
  @include prefixer(box-shadow, 0 0 10px $black, webkit moz spec);
}

@mixin input-placeholder {
  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &::-webkit-input-placeholder {
    @content;
  }
}

@function rhythm($scale, $font-size: $base-font-size) {
  @return ($scale * $base-line-height / $font-size) * 1em;
}

@mixin adjust-font-size-to($to-size, $lines: auto) {
  font-size: ($to-size / $base-font-size) * 1em;
  @if $lines == auto {
    $lines: ceil($to-size / $base-font-size);
  }
  line-height: rhythm($lines, $to-size);
}
