@import 'base';

svg {
  background-color: $white;
}

.root text,
.root tspan {
  font: 12px Arial;
}

.root path {
  fill-opacity: 0;
  stroke-width: 2px;
  stroke: $light-black;
}

.root circle {
  fill: $gray;
  stroke-width: 2px;
  stroke: $light-black;
}

.anchor text, .any-character text {
  fill: $black;
}

.anchor rect, .any-character rect {
  fill: $tan;
}

.escape text, .charset-escape text, .literal text {
  fill: $black;
}

.escape rect, .charset-escape rect {
  fill: $green;
}

.literal rect {
  fill: $blue;
}

.charset .charset-box {
  fill: $tan1;
}

.subexp .subexp-label tspan,
.charset .charset-label tspan,
.match-fragment .repeat-label tspan {
  font-size: 10px;
}

.repeat-label {
    cursor: help;
}

.subexp .subexp-label tspan,
.charset .charset-label tspan {
  dominant-baseline: text-after-edge;
}

.subexp .subexp-box {
  stroke: $light-gray;
  stroke-dasharray: 6,2;
  stroke-width: 2px;
  fill-opacity: 0;
}

.quote {
  fill: $black;
}
