    </main>

    <footer>
      <!--<ul class="inline-list">
        <li>Created by <a href="mailto:jeff.avallone@gmail.com">Jeff Avallone</a></li>
        <li>
          Generated images licensed:
          <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" src="https://licensebuttons.net/l/by/3.0/80x15.png" /></a>
        </li>
      </ul>-->

      <script type="text/html" id="svg-container-base">
        {{> "svg_template"}}
      </script>
    </footer>

    {{> "open_iconic"}}
  </body>
</html>
