<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Regexper{{#if htmlWebpackPlugin.options.title}} - {{htmlWebpackPlugin.options.title}}{{/if}}</title>

    <meta name="description" content="Regular expression visualizer using railroad diagrams" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#bada55" />

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="author" href="humans.txt" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Bangers&text=Regxpr" />
    <!-- Built: {{htmlWebpackPlugin.options.date}} -->
  </head>
  <body>
    <header>
      <div class="logo">
        <h1><a href="./index.html">Regexper</a><span>You thought you only had two problems&hellip;</span></h1>
        <!-- n. One who regexpes -->
        
      </div>

      <nav>
        <ul>
          <li>
            <a class="inline-icon" target="_blank" href="./changelog.html">{{icon "#list-rich"}}Changelog</a>
          </li>
          <li>
            <a class="inline-icon" target="_blank" href="./documentation.html">{{icon "#document"}}Documentation</a>
          </li>
          <li>
            <a class="inline-icon" target="_blank" href="https://gitlab.com/javallone/regexper-static">{{icon "#code"}}Source on GitLab</a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="content">
