{{> page_top}}

<div class="application">
  <form id="regexp-form">
    <textarea id="regexp-input" autofocus="autofocus" placeholder="Enter JavaScript-style regular expression to display" rows=3></textarea>
    <button type="submit">Display</button>

    <ul class="inline-list">
      <li class="download-svg" title="Download SVG">
        <a href="#" class="inline-icon" data-action="download-svg" download="image.svg" type="image/svg+xml">{{icon "#data-transfer-download"}}Download SVG</a>
      </li>
      <li class="download-png" title="Download PNG">
        <a href="#" class="inline-icon" data-action="download-png" download="image.png" type="image/png">{{icon "#data-transfer-download"}}Download PNG</a>
      </li>
      <li class="permalink">
        <a href="#" class="inline-icon" data-action="permalink">{{icon "#link-intact"}}Permalink</a>
      </li>
    </ul>
  </form>
</div>

<div class="results">
  <div id="error"></div>

  <ul id="warnings"></ul>

  <div id="regexp-render"></div>
</div>

{{> page_bottom}}
